{% extends "index.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block content %}

<ul class="nav nav-tabs" id="assetTabs">
  <li class="active"><a href="#General">General</a></li>
  <li><a href="#Interfaces">Interfaces</a></li>
  <li><a href="#SNMP">SNMP</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="General">{% include "asset_general.html" %}</div>
  <div class="tab-pane" id="Interfaces">{% include "asset_interfaces.html" %}</div>
  <div class="tab-pane" id="SNMP">SNMP</div>
</div>

<script>
  $(function () {

  $('#assetTabs a[href="#General"]').tab('show');
  })
</script>

{% endblock %}
