{% extends "index.html" %}
{% load url from future %}
{% block content %}
<div class="well">
  {% load bootstrap_toolkit %}
  <form class="form form-horizontal" method="post" action="{% url form_action %}">
    {% csrf_token %}
    {% if form_errors %}
    <div class="alert alert-error">
      <h5>ERRORS:</h5>
      {{ form_errors }}
    </div>
    {% endif %}
    {{ form }}
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="{{ submit_txt }}" />
    </div>
  </form>
</div>
{% endblock %}
