{% extends "index.html" %}
{% load url from future %}
{% block content %}
{% load bootstrap_toolkit %}
</div>
<div class="btn-toolbar">
  <form method="LINK" ACTION="/invdb/asset_add">
    <button class="btn btn-primary">New Asset</button>
  <button class="btn">Export</button>
  </form>
</div>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Hostname</th>
        <th>Physical / Logical Status</th>
        <th>Primary IP</th>
        <th>Model</th>
        <th>Serial/Asset Tag</th>
        <th style="width: 36px;"></th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets %}
      <tr>
        <td>{{ asset.id }}</td>
        <td>{{ asset.hostname }}</td>
        <td>{{ asset.physical_status }} / {{ asset.logical_status }}</td>
        <td>{{ asset.primary_interface.ip4 }}</td>
        <td>{{ asset.model }}</td>
        <td>{{ asset.serial }} / {{ asset.asset_tag }} </td>
        <td>
          <a href="{% url 'invdb.views.asset_edit' asset.pk %}"><i class="icon-pencil"></i></a>
          <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Confirmation</h3>
  </div>
  <div class="modal-body">
    <p class="error-text">Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
  </div>
</div>
{% endblock %}
