{% load url from future %}
{% include "headers.html" %}
<body>
  {% include "nav_top.html" %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="span3">
          <div class="row-fluid">
            <div class="span12">
              {% include "nav_left.html" %}
            </div>
          </div>
	  {% if left_menu2 %}
          <div class="row-fluid">
            <div class="span12">
	      {{ left_menu2 }}
            </div>
          </div>
	  {% endif %}
        </div><!--/span3-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span12">
              <h6>BLOCK CONTENT BEGIN</h6>
              {% block content %}
              {% endblock %}
              <h6>BLOCK CONTENT END</h6>
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div>
    {% include "footer.html" %}
