{% load url from future %}
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Devices</li>
    <li {% if nav_left_active == 'home' %}class="active" {% endif %}><a href="{% url 'invdb.views.index' %}"><i class="icon-home"></i> Home</a></li>
    {% for item in nav_left_menu %}
    <li {% if item.name == nav_left_active %}class="active" {% endif %}>
      {% if item.section == "assets" %}
          <a href="{% url 'invdb.views.asset_view' %}/{{ item.assettype }}"><i class="icon-chevron-right"></i> {{ item.name }}</a>
      {% elif item.section == "areas" %}
          <a href="{% url 'invdb.views.asset_view' %}/{{ item.assettype }}"><i class="icon-chevron-right"></i> {{ item.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
    <li><a href="{% url 'invdb.views.asset_spare %}"><i class="icon-cog"></i> Spares</a></li>
    <li><a href="{% url 'invdb.views.asset_add' %}"><i class="icon-cog"></i> Add Device</a></li>
    {% if areas %}
    <li class="nav-header">Areas</li>
    {% for area in areas_menu %}
    <li {% if area.name == nav_left_active %}class="active" {% endif %}>
      <a href="{{ area.url }}"><i class="icon-chevron-right"></i> {{ area.name }}</a>
    </li>
    <li><a href="{% url 'invdb.views.area_add' %}"><i class="icon-cog"></i> Add Area</a></li>
    {% endfor %}
    {% endif %}
    <li class="nav-header">Settings</li>
    <li><a href="http://localhost:8000/admin" target="_blank">Django Administration</a></li>
  </ul>
</div><!--/.well -->
